<!DOCTYPE html>
<html lang="en-GB">
<head>
  <meta charset="utf-8">
  <title>Android: Netrunner</title>
  <link rel="stylesheet" type="text/css" href="../styles.css" media="screen">
  <link rel="icon" href="./images/small%20icon.png"
</head>

<header>



</header>

<body class="lander">

<form action="/leagues/players" method = "GET">
  <input class ="btn btn--entry" input type="submit" value="Jack In to the Net">
</form>
  
</body>

</html>