<!DOCTYPE html>
<html lang="en-GB">
<head>
  <meta charset="utf-8">
  <title>Android: Netrunner</title>
</head>
<header>
  <img src="../adn01_feature_art.jpg" alt="game logo" id="logo"
  </header>
  <hr /> 
  <%= yield %>
</body>
</html>