html {
  font-family: Monkirta Pursuit NC;
}

header {
  width: 1500px;
  heigh: 600;
  display: flex;
}

body {
  background: black url('./images/wallpaper_1920x1080_nbn.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: 'Monkirta Pursuit NC', serif;
  padding: 0px;
  margin: 0px;
}

h1 {
  font-family: 'Monkirta Pursuit NC', cursive;
  margin: 0px;
  padding: 0px;
  font-size: xx-large;
}

nav {
  padding: 0px;
  margin: 0px;
  padding-right: 25px;
  padding-top: 80px;
  font-size: xx-large;
  position: fixed;
}

nav ul li {
  margin-bottom: 15px;
  text-transform: uppercase;
  text-shadow: 8px 8px 12px black;
  -webkit-text-stroke: 1px black;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

main {
  padding: 25px;
}

img#league {
  width: 1100px;
  height: 600px;
  size: 
}

.flex {
  display: flex;
}

.flex--row {
  flex-direction: row;
}

#content {
  padding-left: 250px;
  padding-top: 35px;
  text-decoration: ;
  text-shadow: 8px 8px 12px black;
  color: white;
  -webkit-text-stroke: 1px black;
}

p.big {
    line-height: 1.8;
    font-size: larger;
    text-shadow: 8px 8px 12px black;
  }

p {
  font-size: larger;
}

.btn--jack_in {
 cursor:pointer;
 font-family: 'Monkirta Pursuit NC', cursive;
 background-color: white;
 font-size: large;
 -webkit-text-stroke: 1px black;
 color: black;
 border-radius: 12px;
 width: 200px;
 float: left;
 border: 1px solid blue;
 padding: 8px 12px;
 text-align: center;
 cursor:pointer;
}

.btn--jack_in:hover {
  background-color: transparent;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn--new {
  cursor:pointer;
  font-family: 'Monkirta Pursuit NC', cursive;
  background-color: white;
  font-size: large;
  -webkit-text-stroke: 1px black;
  color: black;
  border-radius: 12px;
  width: 200px;
  float: left;
  border: 1px solid blue;
  padding: 8px 12px;
  text-align: center;
  cursor:pointer;
}

.btn--new:hover {
  background-color: transparent;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
}

.lander{
  background: black url('../images/leagueimage.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: 'Monkirta Pursuit NC', serif;
  padding: 0px;
  margin: 0px;
}


.btn--entry {
  font-family: 'Monkirta Pursuit NC', cursive;
  position: fixed;
  left: 350px;
  top:100px;
  background-color: transparent;
  width: 50%;
  font-size: xx-large;
  text-shadow: 8px 8px 12px black;
  -webkit-text-stroke: 1px black;
  color: white;
  border-radius: 12px;
  float: left;
  border-radius: 12px;
  text-align: center;
  cursor:pointer;
}

.btn--entry:hover {
  background-color: transparent;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn--entry:active {
  background-color: dark gray;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/*position: relative;
right: -150px;
bottom: 37px;*/