<form method="post" action="/leagues" >
  
  <label for="name-field">Name:</label>
  <input
  type="text"
  name="name" 
  id="name-field"
  />

  <label for="start-date-field">Start Date:</label>
  <input
  type="text"
  name="start_date" 
  id="start-date-field"
  />

  <label for="end-date-field">End Date:</label>
  <input
  type="text"
  name="end_date" 
  id="end-date-field"
  />

  <label for="max-players-field">Maximum Players:</label>
  <input
  type="text"
  name="max_players" 
  id="max-players-field"
  />
  <hr>
  <input class="btn--new" input type="submit" value="Boot up league">
</form>